<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="12" name="Suite" parallel="classes">
  <test name="MyarAllTest">
    <classes>
      <class name="myAR.MYAR_08_AddImage"/>
      <class name="myAR.MYAR_09_uploadExcel"/>
      <class name="myAR.MYAR_02_VerifyAddProduct"/>
      <class name="myAR.MYAR_03_UploadAssets"/>
      <class name="myAR.MYAR_12_AddAudio"/>
      <class name="myAR.MYAR_01_Login"/>
      <class name="myAR.MYAR_05_CopyButton"/>
      <class name="myAR.MYAR_04_verifyCreateAndDeleteButton"/>
      <class name="myAR.MYAR_10_Addbutton"/>
      <class name="myAR.MYAR_11_EditProfile"/>
      <class name="myAR.MYAR_07_AddVideo"/>
      <class name="myAR.MYAR_06_AddProduct"/>
    </classes>
  </test> <!-- MyarAllTest -->
</suite> <!-- Suite -->
